.title {
    color: chocolate;
}

.gameButtons {
    margin: 1em;
}

.gameButtons button {
    display:inline-block;
    width:10rem;
    height:10rem;
    border:0.5rem solid;
    margin: 0.5rem;
}

#red {
    background-color: red;
    border-color: lightcoral;
}

#red:disabled{
    border-color: darkred;
}

#red:hover:enabled {
    background-color: darkred;
    border-color: coral;
}

#red:hover:enabled:active {
    background-color: brown;
    border-color: black;
}


#blue {
    background-color: blue;
    border-color: lightblue;
}

#blue:disabled{
    border-color: darkblue;
}

#blue:hover:enabled {
    background-color: darkblue;
    border-color: cadetblue;
}

#blue:hover:enabled:active {
    background-color: navy;
    border-color: black;
}

#yellow {
    background-color: gold;
    border-color: palegoldenrod;
}

#yellow:disabled {
    border-color: goldenrod;
}

#yellow:hover:enabled {
    background-color: goldenrod;
    border-color: tan;
}

#yellow:hover:enabled:active {
    background-color: darkgoldenrod;
    border-color: black;
}

#green {
    background-color: green;
    border-color: palegreen;
}

#green:disabled {
    border-color: darkgreen;
}

#green:hover:enabled {
    background-color: forestgreen;
    border-color: darkolivegreen;
}

#green:hover:enabled:active {
    background-color: darkgreen;
    border-color: black;
}

.flash {
    background-color: white !important;
}

button {
    background-color: #008CBA;
    border: 0.5rem, white;
    color: white;
    padding: 1em 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1.5rem;
}

button:disabled {
    background-color: #e7e7e7; color: black;
}

button:hover:enabled{
    background-color: #008bbac4;
}

button:hover:enabled:active {
    background-color: white;
    border: 0.5rem, #008CBA;
    color: #008CBA;
}

.center {
    align-content: center;
    color: red;
    margin-left: 5rem;
    margin-right: 5rem;
}